@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
    background-color: #1d0742;
}
.logo {
    width: 154;
    height: 38;
    top: 24px;
    left: 155px;
    opacity: 1;
}
a {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    color: white;
}
.primary-btn {
    background: linear-gradient(90.1deg, #4889da 0.08%, #fb497f 101.84%);
    width: 139px;
    height: 36px;
    border: none;
    border-radius: 44px;
    color: white;
    font-weight: 500;
}
