* {
    margin: 0px;
    padding: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
    background-color: #1d0742;
}
.header-section {
    background-image: url("../img/header1.svg");
    background-repeat: no-repeat;
    width: 100%;
    background-size: fill;
}
.first-c {
    padding-bottom: 100px;
    margin: 0px;
    padding-left: 155px;
}
/* nav */
.logo {
    width: 154;
    height: 38;
    opacity: 1;
}
a {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
.primary-btn {
    background: linear-gradient(90.1deg, #4889da 0.08%, #fb497f 101.84%);
}
.BTN-1 {
    width: 139px;
    height: 36px;
    border: none;
    border-radius: 44px;
    color: white;
    font-weight: 500;
}

/* nav */

.hero-section {
    padding-top: 90px;
    padding-bottom: 2px;
}
.Range {
    padding-left: 0%;
    border: 3px;
    border-radius: 29px;
    text-align: center;
    background-color: #2f1b51;
    align-items: center;
}
.range {
    text-align: center;
    border-radius: 29px;
    background-color: white;
}
.Save {
    font-family: Open Sans;
    letter-spacing: 0%;
    line-height: normal;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 0%;
    border-radius: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}
.Friday {
    color: white;
    font-size: 10px;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 0px;
}

/* sidebar */
ul {
    list-style: none;
    width: auto;
}

/* sidebar */
/* first-card */
.cd-1 {
    color: white;
}
.BTN-2 {
    width: 259px;
    left: 156px;
    opacity: 1;
    border-radius: 37px;
    color: white;
    margin-top: 3px;
}
.BTN-2-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 7px;
}
.BTN-3 {
    width: 150px;
    left: 156px;
    opacity: 1;
    border-radius: 37px;
    margin-top: 4px;
    margin-left: 8px;
}
.BTN-3-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top: 7px;
    color: white;
}
.secondary-Btn {
    background-color: #403866;
    margin-top: 25px;
    border-radius: 8px;
    padding: 0%;
    border: none;
}
/* first-card */
/* 2nd-c */
.second-c {
    border: 1px solid #7a7a7a;
    border-radius: 10px;
    background: rgba(81, 33, 161, 0.4); /* Purple card color */
    backdrop-filter: blur(10px);
    max-width: 400px;
    box-shadow: 0 0 20px rgba(0, 242, 255, 0.1);
    margin-top: 30px;
    margin-left: 95px;
    margin-right: 0%;
}
.c-head {
    color: white;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}
.f-line {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
    border-bottom: 1px white;
    margin-left: 4px;
    margin-right: 4px;
}
.token {
    border-bottom: 1px solid white;
    justify-content: space-between;
    margin-bottom: 4px;
}
.s-line {
    font-weight: 400;
    font-style: Regular;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: whitesmoke;
    justify-content: center;
    margin-bottom: 40px;
    text-align: center;
}
.progres {
    background-color: #3c2964;
    padding-right: 195px;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.save {
    font-weight: 600;
    font-size: 14px;
    text-align: end;
    margin-bottom: 0%;
    border-radius: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: end;
    color: whitesmoke;
}
.progress-container {
    position: relative;
    width: 100%;
    height: 30px;
    border-radius: 15px;
}

.marker {
    position: absolute;
    top: -5px;
    bottom: -10px;
    width: 2px;
    background: #fff;
    z-index: 2;
}

.label {
    position: absolute;
    bottom: -25px;
    transform: translateX(-50%);
    white-space: nowrap;
    color: white;
    font-size: 12px;
}
.BTN-4 {
    color: whitesmoke;
    margin-top: 70px;
    border: none;
    border-radius: 15px;
    text-align: center;
    margin-left: 37px;
}
.BTN-4-text {
    margin-top: 4px;
    margin-bottom: 6px;
}
.anchor {
    text-decoration: none;
    font-family: open sans;
}
.e-bar {
    margin-top: 8px;
    background-color: #36225e;
    margin-top: 30px;
    height: 2px;
    padding-bottom: 60px;
    position: relative;
}
.f-c-img {
    margin-top: 18px;
    justify-content: center;
    align-items: center;
}
/* 2nd-c */
/* 2nd container */
.second-con {
    background-color: #13073d;
    padding: 0%;
    display: grid;
    overflow: hidden;
}
.s-c-head {
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.s-c-img {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 0%;
    margin-right: 0%;
    padding: 0;
}
.img-c {
    padding: 0%;
}
/* 2nd container */
/* media Quires */
@media all and (min-width: 0px) and (max-width: 992px) {
    .side {
        display: none !important;
    }
}
@media all and (min-width: 992px) and (max-width: 3500px) {
    .dropdown {
        display: none !important;
    }
}
/* Media Quires */
