body{
    background-color: #1D0742;
}
.logo{
    width: 154;
height: 38;
top: 24px;
left: 155px;
opacity: 1;
margin-top: 25px;
margin-left: 20px;

}
a{
    font-family: Open Sans;
font-weight: 700;
font-style: Bold;
font-size: 12px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;

}